*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
    font-family: 'Gill Sans', 'Gill Sans MT';
    line-height: 1.6;
    height: 100vh;
}

.head{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    width: 500px;
}
.head h1{
    color: blue;
    font-size: 2.3em;
    text-shadow: 4px 8px 10px rgba(124, 11, 236, 0.3);
    margin-bottom: 20px;
}

#Profile{
    color: rgb(3, 230, 230);
}
.head a{
    display:inline;
    padding: 8px;
    margin-right: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

.page-text{
    margin-left: 90px;
}

.page-text h1{
    font-size: 3em;
    color: white;
    font-style: inherit;
    /* padding: 20px; */
}

span{
    color: aqua;
    font-size: 55px;
    font-weight: bold;
    /* text-shadow: 0 0 10px #04b497; */
}

.sub-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.text-area {
    display: flex;
    flex-direction: column;
}

.icon-pack {
    margin-top: 10px;
}

.sub-text img {
    width: 180px;
    border-radius: 50%;
    margin-right: 70px;
    
}



.page-text p{
    color: white;
    font-size: 20px;
}

ion-icon {
  font-size: 28px;
  color: aqua;
  padding: 5px;
}


.special{
    background-color: #2b2a2a33;
    padding: 60px 8 0px;
    margin: 20px;
    color: white;
    font-size: 20px;
    


}


