*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(14, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    color: white;
}

.head{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 25px;
}

.head h1{
    color: rgb(23, 23, 194);
    font-size: 2.3em;
    margin-bottom: 15px;
}

#Profile{
    color: aqua;
}

.head a{
    display: inline;
    padding: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.page-text{
    padding: 20px;
    margin: 30px;
}

.page-text h1{
    font-size: 50px;
    color: white;
}

span{
    color: aqua;
    font-size: 50px;
    font-weight: bold;
}

.sub-text{
    display: flex;
    align-items: center;
    justify-content: s;


}



